.inspector-toolbar {
    md-input-container {
        &.md-input-focused, &.md-input-has-value {
            label {
                color: white;
                font-size: 1em;
            }
        }

        label {
            padding-left: 10px !important;
            line-height: 18px;
            font-size: 0.8em;
        }

        input {
            background: #fff;
            height: 36px;
            border-bottom: none;
            font-size: 0.8em;
            min-width: 250px;
            padding-left: 10px;
            border-radius: 5px;
        }
        
        .md-errors-spacer {
            display: none;
        }
    }

    button.toggle-button {
        min-width: 40px;
        margin-left: 10px;

        &.active {
            background: rgba(1, 1, 1, 0.5);
        }
    }
}

body.nav-collapsed-min {
    div.inspector-container {
        left: 60px;
    }
}

div.inspector-container {
    position: fixed;
    top: 128px;
    left: 220px;
    right: 0;
    bottom: 0;

    div.inspector {
        flex: 1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-content: space-around;
        height: 100%;
        background: #EFEFEF;

        > div {
            box-sizing: border-box;
            flex: 1;
            min-width: 30px;

            &.resizable {
                flex: 0 0 300px;
            }

            &:first-child {
                flex-basis: 50%;
            }

            &.list {
                overflow: auto;
                background: #fff;
            }

            &.graph {
                graph {
                    width: 100%;
                    position: absolute;
                    height: 100%;
                }
            }
        }
    }
}

div.placeholder {
    text-align: center;
    vertical-align: bottom;
    margin-top: 100px;

    md-progress-circular {
        margin: auto;
    }
}

.message-details {
    position: fixed;
    top: 64px;
    z-index: 800;
    bottom: 0;
    left: 220px;
    right: 0;
    background: rgba(255, 255, 255, 0.9);

    header {
        height: 64px;
        border-bottom: 1px solid #E2E2E2;

        .close-icon {
            float: right;
            font-size: 2em;
            margin-top: 12px;
            margin-right: 15px;
            width: 40px;
            height: 40px;
            text-align: center;
            padding-top: 2px;
            background: #fff;
            border-radius: 100%;

            &:hover {
                background: #333;
                color: #fff;
            }
        }

        h1 {
            color: #333;
            margin: 0;
            font-size: 2em;
            padding: 15px;

            small {
                color: #000;
            }
        }
    }

    .details {
        div {
            padding: 10px;
        }
    }

    md-tabs {
        background: #fff;
        border-top: 1px solid #E2E2E2;
    }


    md-tab-content {
        margin-top: 20px;
    }

    .request-overview {
        padding: 10px 30px;

        span.method {
            background: #efefef;
            padding: 5px;
        }
        span.path {
            font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
        }
    }
}