<md-toolbar>
    <div class="md-toolbar-tools inspector-toolbar">
        <md-input-container>
            <input ng-model="query.message_identifier" type="text" placeholder="Message identifier" class="md-whiteframe-1dp">
        </md-input-container>
        <md-button class="md-raised" ng-click="inspect(query)" ng-disable="!query.message_identifier">Inspect</md-button>

        <span flex></span>

        <md-button class="toggle-button" ng-class="{'active': display.graph}" ng-click="toggle('graph')">
            <md-icon class="zmdi zmdi-grain"></md-icon>
            <md-tooltip>Graph</md-tooltip>
        </md-button>
        <md-button class="toggle-button" ng-class="{'active': display.table}" ng-click="toggle('table')">
            <md-icon class="zmdi zmdi-view-list"></md-icon>
            <md-tooltip>List</md-tooltip>
        </md-button>
    </div>
</md-toolbar>

<div class="inspector-container">
    <div class="placeholder" ng-show="display.message">{{ display.message }}</div>
    <div class="placeholder" ng-show="display.loading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div class="inspector" ng-show="display.inspector">
        <div class="graph" resizable r-directions="['right']" r-flex="true" ng-show="display.graph">
            <graph inspection="inspection"></graph>
        </div>
        <div class="list" ng-show="display.table">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>DateTime</th>
                        <th>Sender</th>
                        <th>Recipient</th>
                        <th>Type</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="profile in inspection.profiles" ng-click="openProfileDetails(profile.identifier)">
                        <td>{{ profile.timing.start | date:'dd/MM/yyyy HH:mm:ss.sss' }}</td>
                        <td>{{ profile.sender.service }}</td>
                        <td>{{ profile.recipient.service }}</td>
                        <td>{{ profile.message.type }}</td>
                        <td>{{ profile.message.status_code }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="message-details" ng-show="profile">
    <header>
        <div class="close-icon" ng-click="closeProfileDetails()">
            <i class="zmdi zmdi-close"></i>
        </div>
        <h1>Message <small>{{ profile.identifier }}</small></h1>
    </header>
    <aside class="clearfix details">
        <div class="col-md-4">
            <div class="col-sm-6"><strong>Type</strong></div>
            <div class="col-sm-6">{{ profile.message.type }}</div>
            <div class="col-sm-6"><strong>Timing</strong></div>
            <div class="col-sm-6">{{ profile.timing.duration | number:0 }} ms</div>
        </div>
        <div class="col-md-4">
            <div class="col-sm-6"><strong>Sender</strong></div>
            <div class="col-sm-6">{{ profile.sender.service }}</div>
            <div class="col-sm-6"><strong>Recipient</strong></div>
            <div class="col-sm-6">{{ profile.recipient.service }}</div>
        </div>
        <div class="col-md-4">
            <div class="col-sm-6"><strong>Parent</strong></div>
            <div class="col-sm-6">
                <a ng-click="openProfileDetails(profile.parent.identifier)" ng-show="profile.parent" href="javascript:;">{{ profile.parent.identifier }}</a>
                <em ng-hide="profile.parent">None</em>
            </div>
        </div>
    </aside>
    <md-tabs md-border-bottom md-autoselect md-dynamic-height>
        <md-tab label="HTTP">
            <div class="request-overview">
                <span class="method">{{ profile.message.method }}</span>
                <span class="path">{{ profile.message.path }}</span>
            </div>
        </md-tab>
        <md-tab label="Peers">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sender</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" ng-repeat="(key, value) in profile.sender.details">
                            <div class="col-sm-6"><strong>{{ key }}</strong></div>
                            <div class="col-sm-6">{{ value }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Recipient</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" ng-repeat="(key, value) in profile.recipient.details">
                            <div class="col-sm-6"><strong>{{ key }}</strong></div>
                            <div class="col-sm-6">{{ value }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </md-tab>
        <md-tab label="Logs">
            <div class="placeholder"><em>You need to configure the log source.</em></div>
        </md-tab>
    </md-tabs>
</div>
